In [1]:
%config Completer.use_jedi = False

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("../data/ratings.csv")

In [32]:
df.drop(columns=["allgenders_0age_avg_vote", "allgenders_0age_votes", "males_0age_avg_vote", "males_0age_votes", "females_0age_avg_vote", "females_0age_votes", "top1000_voters_rating",
                 "top1000_voters_votes", "us_voters_rating", "us_voters_votes", "non_us_voters_rating", "non_us_voters_votes"], inplace=True)

In [33]:
df.isnull().sum()

imdb_title_id                   0
weighted_average_vote           0
total_votes                     0
mean_vote                       0
median_vote                     0
votes_10                        0
votes_9                         0
votes_8                         0
votes_7                         0
votes_6                         0
votes_5                         0
votes_4                         0
votes_3                         0
votes_2                         0
votes_1                         0
allgenders_18age_avg_vote     706
allgenders_18age_votes        706
allgenders_30age_avg_vote      10
allgenders_30age_votes         10
allgenders_45age_avg_vote      80
allgenders_45age_votes         80
males_allages_avg_vote          1
males_allages_votes             1
males_18age_avg_vote         1465
males_18age_votes            1465
males_30age_avg_vote           12
males_30age_votes              12
males_45age_avg_vote          101
males_45age_votes             101
females_allages_avg_vote       81
females_allages_votes          81
females_18age_avg_vote       6521
females_18age_votes          6521
females_30age_avg_vote        944
females_30age_votes           944
females_45age_avg_vote       2798
females_45age_votes          2798
dtype: int64

In [6]:
df.isnull().sum()

imdb_title_id                   0
weighted_average_vote           0
total_votes                     0
mean_vote                       0
median_vote                     0
votes_10                        0
votes_9                         0
votes_8                         0
votes_7                         0
votes_6                         0
votes_5                         0
votes_4                         0
votes_3                         0
votes_2                         0
votes_1                         0
allgenders_18age_avg_vote     706
allgenders_18age_votes        706
allgenders_30age_avg_vote      10
allgenders_30age_votes         10
allgenders_45age_avg_vote      80
allgenders_45age_votes         80
males_allages_avg_vote          1
males_allages_votes             1
males_18age_avg_vote         1465
males_18age_votes            1465
males_30age_avg_vote           12
males_30age_votes              12
males_45age_avg_vote          101
males_45age_votes             101
females_allages_avg_vote       81
females_allages_votes          81
females_18age_avg_vote       6521
females_18age_votes          6521
females_30age_avg_vote        944
females_30age_votes           944
females_45age_avg_vote       2798
females_45age_votes          2798
dtype: int64

In [34]:
df2 = df.fillna(df.mean())

In [36]:
df2.head(3)

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,males_45age_avg_vote,males_45age_votes,females_allages_avg_vote,females_allages_votes,females_18age_avg_vote,females_18age_votes,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,6.7,31.0,6.0,35.0,5.9,14.0,5.7,13.0,4.5,4.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,100.0,6.2,50.0,5.9,12.0,6.2,23.0,6.6,14.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,6.2,55.0,5.7,15.0,5.8,4.0,5.8,4.0,6.8,7.0

In [39]:
df.to_csv("rating2", sep="|")