In [2]:
%config Completer.use_jedi = False

In [3]:
import pandas as pd

In [98]:
import numpy as np

In [4]:
df = pd.read_csv("dataOscars.csv", sep="|")

In [5]:
df.head()

,Unnamed: 0,Unnamed: 0.1,imdb_title_id,title,year,duration,director,production_company,description,avg_vote,...,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,oscars
0,0,0,tt0060120,A sud ovest di Sonora,1966,98,Sidney J. Furie,Universal Pictures,Man tries to recover a horse stolen from him b...,6.3,...,0,0,0,0,0,0,0,0,0,0.0
1,1,1,tt0060120,A sud ovest di Sonora,1966,98,Sidney J. Furie,Universal Pictures,Man tries to recover a horse stolen from him b...,6.3,...,0,0,0,0,0,0,0,0,0,0.0
2,2,2,tt0060120,A sud ovest di Sonora,1966,98,Sidney J. Furie,Universal Pictures,Man tries to recover a horse stolen from him b...,6.3,...,0,0,0,1,0,0,0,0,0,0.0
3,3,3,tt0060120,A sud ovest di Sonora,1966,98,Sidney J. Furie,Universal Pictures,Man tries to recover a horse stolen from him b...,6.3,...,0,0,0,0,0,0,0,0,0,0.0
4,4,4,tt0060120,A sud ovest di Sonora,1966,98,Sidney J. Furie,Universal Pictures,Man tries to recover a horse stolen from him b...,6.3,...,0,0,0,0,0,0,0,0,0,0.0

In [6]:
features = df.iloc[:,9:70]
target = df['oscars']

In [7]:
features.drop(columns='imdb_name_id', inplace=True)

In [8]:
features2 = features.iloc[:,:8]

In [9]:
target.value_counts()

0.0     42576
1.0       456
2.0       177
3.0       135
4.0        18
6.0        15
7.0         9
11.0        9
5.0         9
8.0         6
Name: oscars, dtype: int64

In [10]:
features

,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
1,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
2,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,1,0,0,0,0,0
3,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
4,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43405,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43406,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43407,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43408,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43409,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0

In [11]:
features2

,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics,weighted_average_vote,total_votes,mean_vote
0,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
1,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
2,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
3,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
4,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
...,...,...,...,...,...,...,...,...
43405,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43406,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43407,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43408,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43409,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [13]:
Xtrain, Xtest, ytrain, ytest = train_test_split(features2, target)

In [14]:
Xtrain

,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics,weighted_average_vote,total_votes,mean_vote
12630,8.1,910502,90.0,1165.0,238.0,8.1,910502,8.1
18243,5.3,418,26.0,13.0,1.0,5.3,418,5.6
16179,6.0,13782,25.0,169.0,44.0,6.0,13782,6.2
23119,6.8,165385,85.0,1099.0,616.0,6.8,165385,6.7
1967,7.6,180386,90.0,440.0,230.0,7.6,180386,7.6
...,...,...,...,...,...,...,...,...
10998,7.2,66011,66.0,255.0,107.0,7.2,66011,7.2
19904,5.3,1741,19.0,33.0,38.0,5.3,1741,5.4
28049,6.9,36809,69.0,148.0,129.0,6.9,36809,7.0
26343,5.4,352,62.0,16.0,3.0,5.4,352,3.7
648,6.3,5434,50.0,131.0,54.0,6.3,5434,6.5

In [15]:
ls = LogisticRegression(max_iter=1000)

In [16]:
ls.fit(Xtrain, ytrain)

C:\Users\gonza\anaconda3\envs\dhdsblend\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(max_iter=1000)

In [17]:
ls.score(Xtrain, ytrain)

0.9779156556193752

In [18]:
ls.score(Xtest, ytest)

0.9786234220952732

In [19]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [20]:
pipe = make_pipeline(StandardScaler(), LogisticRegression())
pipe.fit(Xtrain, ytrain)

C:\Users\gonza\anaconda3\envs\dhdsblend\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression())])

In [21]:
pipe.score(Xtest, ytest)

0.9812033539113609

In [22]:
import pickle

In [90]:
with open('oscar_pred.pkl', 'wb') as oscars:
    pickle.dump(ls2, oscars)

In [25]:
features2

,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics,weighted_average_vote,total_votes,mean_vote
0,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
1,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
2,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
3,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
4,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4
...,...,...,...,...,...,...,...,...
43405,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43406,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43407,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43408,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1
43409,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1

In [26]:
features2.columns

Index(['avg_vote', 'votes', 'metascore', 'reviews_from_users',
       'reviews_from_critics', 'weighted_average_vote', 'total_votes',
       'mean_vote'],
      dtype='object')

In [37]:
features

,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
0,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
1,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
2,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,1,0,0,0,0,0
3,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
4,6.3,2846,46.0,51.0,21.0,6.3,2846,6.4,6.0,204,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43405,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43406,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43407,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43408,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0
43409,5.1,10627,35.0,388.0,64.0,5.1,10627,5.1,5.0,387,...,0,0,0,0,0,0,0,0,0,0

In [39]:
a = df.sort_values(by='oscars', ascending=False)

In [46]:
a[['avg_vote', 'votes', 'metascore', 'reviews_from_users',
       'reviews_from_critics', 'weighted_average_vote', 'total_votes',
       'mean_vote']].head()

,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics,weighted_average_vote,total_votes,mean_vote
35733,5.7,40859,38.0,265.0,229.0,5.7,40859,5.9
35740,5.7,40859,38.0,265.0,229.0,5.7,40859,5.9
35738,5.7,40859,38.0,265.0,229.0,5.7,40859,5.9
35737,5.7,40859,38.0,265.0,229.0,5.7,40859,5.9
35736,5.7,40859,38.0,265.0,229.0,5.7,40859,5.9

In [47]:
pipe.predict()

,Unnamed: 0,Unnamed: 0.1,imdb_title_id,title,year,duration,director,production_company,description,avg_vote,...,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western,oscars
35733,35993,35993,tt2638144,Ben-Hur,2016,123,Timur Bekmambetov,LightWorkers Media,"Judah Ben-Hur, a prince falsely accused of tre...",5.7,...,0,0,0,0,0,0,0,0,0,11.0
35740,36000,36000,tt2638144,Ben-Hur,2016,123,Timur Bekmambetov,LightWorkers Media,"Judah Ben-Hur, a prince falsely accused of tre...",5.7,...,0,0,0,0,0,0,0,0,0,11.0
35738,35998,35998,tt2638144,Ben-Hur,2016,123,Timur Bekmambetov,LightWorkers Media,"Judah Ben-Hur, a prince falsely accused of tre...",5.7,...,0,0,0,0,0,0,0,0,0,11.0
35737,35997,35997,tt2638144,Ben-Hur,2016,123,Timur Bekmambetov,LightWorkers Media,"Judah Ben-Hur, a prince falsely accused of tre...",5.7,...,0,0,0,0,0,0,0,0,0,11.0
35736,35996,35996,tt2638144,Ben-Hur,2016,123,Timur Bekmambetov,LightWorkers Media,"Judah Ben-Hur, a prince falsely accused of tre...",5.7,...,0,0,0,0,0,0,0,0,0,11.0

In [50]:
target

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
43405    0.0
43406    0.0
43407    0.0
43408    0.0
43409    0.0
Name: oscars, Length: 43410, dtype: float64

In [80]:
tgt.value_counts()

lose    42576
win       834
Name: oscars, dtype: int64

In [62]:
tgt = target.replace(0, 'lose')

In [67]:
tgt.replace(1, 'win', inplace=True)

In [68]:
tgt.replace(2, 'win', inplace=True)

In [70]:
tgt.replace(3, 'win', inplace=True)

In [71]:
tgt.replace(4, 'win', inplace=True)

In [72]:
tgt.replace(5, 'win', inplace=True)

In [79]:
tgt.replace(11, 'win', inplace=True)

In [81]:
ls2 = LogisticRegression()

In [82]:
Xtrain, Xtest, ytrain, ytest = train_test_split(features2, tgt)

In [85]:
ls2.fit(Xtrain, ytrain)

LogisticRegression()

In [88]:
ls2.score(Xtrain, ytrain)

0.9798507233467457

In [93]:
e = ls2.predict(Xtest)

In [101]:
np.unique(e, return_counts=True)

(array(['lose', 'win'], dtype=object), array([10843,    10], dtype=int64))

In [105]:
np.unique(ls2.predict(Xtrain), return_counts=True)

(array(['lose', 'win'], dtype=object), array([32489,    68], dtype=int64))

####